@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 15vh;
  gap: 1%;
  padding-left: 2%;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: aqua;
}

.container {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.navigation {
  height: calc(100vh - 15vh);
  background-color: chartreuse;
  padding-top: 45%;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: bolder;
}

.navigation ul li img {
  width: 25px;
}

li.navIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  cursor: pointer;
  padding: 15px 0;
  letter-spacing: 1px;
  padding-left: 60px;
}

li.navIcon:hover {
  background-color: blue;
}

li.nested {
  padding-left: 110px;
  display: none;
}

li.nested.active {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.footerText {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

img[id="githubLogo"] {
  width: 16px;
  cursor: pointer;
}
